node_modules
package-lock.json
.env
dist
coverage
*.log
*.json
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.jnilib
*.pyc
*.pyo
*.pyd
*.class
*.swp
*.swo
*.swn
*.swnb
*.swna
*.swnh
*.swno
*.swnp
*.swnr
*.swns
*.swnu
*.swnv
*.swnw