/* Styles for Dashboard cards */
.MuiCard-root {
  transition: all 0.3s ease;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.MuiCard-root:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

.MuiCardContent-root {
  text-align: center;
}

.MuiTypography-h4 {
  font-weight: bold;
}

.MuiButtonBase-root {
  margin: 10px 0;
}

.dashboard-card {
  background: linear-gradient(to right, #1c92d2, #f2fcfe); /* Gradient background */
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.dashboard-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

.dashboard-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.MuiTypography-h4 {
  font-weight: bold;
}
